.program {
  padding-bottom: 26px;
}

.program__container {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.program__description {
  @media screen and (min-width: 768px) {
    max-width: 310px;

    @media screen and (min-width: 1200px) {
      max-width: 407px;
    }
  }
}

.program__title {
  font-family: "Caveat Brush", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 2.71;
  text-align: center;
  margin-bottom: 0;
  color: var(--main-text-color);

  @media screen and (min-width: 480px) {
    font-size: 28px;
    line-height: 2.58;
    text-align: start;
  }

  @media screen and (min-width: 768px) {
    line-height: 2.58;
    text-align: start;
  }
  @media screen and(min-width: 1200px) {
    font-size: 36px;
    line-height: 1.85;
    margin-bottom: 10px;
  }
}

.program__text {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);

  @media screen and(min-width: 1200px) {
    font-size: 18px;
    line-height: 1.22;
  }
}

.program__text--upper {
  margin-bottom: 10px;

  @media screen and(min-width: 1200px) {
    margin-bottom: 21px;
  }
}

.program__text--below {
  margin-top: 20px;
  margin-bottom: 0;
}

.program-description__item {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-text-color);

  @media screen and(min-width: 1200px) {
    font-size: 18px;
    line-height: 1.32;
  }

  &::before {
    content: "\02c3";
    display: inline-block;
    width: 7px;
    height: 7px;
    color: currentColor;
    margin-right: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
    @media screen and(min-width: 1200px) {
      margin-bottom: 15px;
    }
  }
}

.program-description {
  margin-bottom: 0px;
}

// ====moreLess
.program__button {
  display: inline-block;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  font-family: "Caveat Brush", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 3.61;
  text-align: center;
  cursor: pointer;
  color: var(--button-second-color);

  transition: color var(--animation);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (min-width: 480px) {
    font-size: 23px;
  }

  @media screen and (min-width: 1199.9px) {
    display: none;
  }
}

// .program__button .program__less {
//   display: none;
// }

// .program__button.is-open .program__less {
//   display: block;
// }

// .program__button.is-open .program__read-more {
//   display: none;
// }

// .program__text--below.is-open {
//   display: block;
// }

// .program__text--below {
//   display: none;

//   @media screen and (min-width: 1200px) {
//     display: block;
//   }
// }

.program__text--below {
  display: none;

  @media screen and (min-width: 1200px) {
    display: block;
  }
}

// ===moreLess end

// progran__windows-case

.program__window-case {
  padding-top: 30px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }

  @media screen and (min-width: 1199.9px) {
    padding-top: 35px;
    padding-left: 25px;
    margin-right: -35px;
  }
}

.program-showcase {
  display: flex;
  flex-wrap: wrap;

  margin-top: -15px;
  justify-content: space-between;

  @media screen and (min-width: 480px) {
    justify-content: center;

    margin-right: 50px;
    margin-left: 50px;
  }

  @media screen and(min-width:768px) {
    justify-content: space-between;
    margin-left: 0;
    margin-right: 0;
  }

  &__item {
    flex-basis: calc((100% - 15px * 2) / 2);
    margin-top: 15px;
    @media screen and (min-width: 768px) {
      margin-left: 15px;
    }
  }
}

.program-showcase__item:nth-child(2) {
  margin-top: 50px;
  @media screen and (min-width: 1200px) {
    margin-top: 70px;
  }
}

.program-showcase__item:nth-child(3) {
  margin-top: 30px;
  @media screen and (min-width: 1200px) {
    margin-top: 5px;
  }
}

.program-showcase__item:nth-child(4) {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.program-showcase__card {
  width: 142px;
  height: 142px;
  margin: 0 auto;
  border-radius: 50%;
  background: #fef3e4;
  box-shadow: 0px 4px 4px rgba(171, 129, 108, 0.25);

  padding-top: 50px;
  position: relative;

  @media screen and (min-width: 1200px) {
    width: 180px;
    height: 180px;
    padding-top: 70px;
  }
}

.program-showcase__thumb {
  position: absolute;
  top: -35px;
  left: 35px;

  @media screen and (min-width: 1200px) {
    top: -40px;
    left: 45px;
  }
}

// .program-showcase__donut-img {
// }

// .program-showcase__donut-info {
// }

.program-showcase__donut-title {
  font-family: "Caveat Brush", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.27;
  padding-bottom: 0;
  margin-bottom: 12px;
  text-align: center;
  color: var(--title-donut-color);

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    line-height: 1.25;
  }
}

.program-showcase__donut-text {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.21;
  align-items: center;
  text-align: center;
  padding-bottom: 13px;
  display: block;
  color: var(--title-donut-color);

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.25;
  }
}

// .program-showcase__donat-mark {
// }

.program-showcase__donut-icon {
  fill: #674d40;
}
// ===svg

.program-showcase__donut-icon {
  width: 100%;
  height: 20px;

  @media screen and (min-width: 1200px) {
    height: 25px;
  }
}
