<section class="contact" id="contacts">
    <div class="container">  
        <h2 class="section-title">Contact</h2>
        <form class="contact-form">

          <p class="contact-form__title">We will answer any question!</p>

          <input class="contact-form__input" type="text" name="email" placeholder="Email" pattern="^[a-zA-Z0-9]\@+$" title="fill in this field correctly">
          <textarea class="contact-form__textarea" name="question" rows="1" placeholder="Type your question"title="ask a question and we will answer you ASAP"></textarea>
          <button class="btn btn--contact" type="submit" aria-label="send" value="submit">Send</button>
        </form>
    </div>
</section>
  