<header class="header">
  <div class="container open-menu">
    <nav class="header__nav">
      <a class="header__logo" href="./index.html">
        <svg class="header__icon">
          <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <div class="header-menu">
        <ul class="header-list">
          <li class="header-list__item">
            <a class="header-list__link" rel="noopener noreferrer" href="#about-us">About us </a>
          </li>
          <li class="header-list__item">
            <a class="header-list__link" rel="noopener noreferrer" href="#program">Program </a>
          </li>
          <li class="header-list__item">
            <a class="header-list__link" rel="noopener noreferrer" href="#reviews">Reviews </a>
          </li>
          <li class="header-list__item">
            <a class="header-list__link" rel="noopener noreferrer" href="#contacts">Contacts </a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="menu-mob">
      <h1 class="menu-mob__title animate__slideInDown">Donut Masterclass with the Donut King</h1>
      <p class="menu-mob__subtitle">Hosted by Eva Green</p>
      <a class="btn--register" href="#register">Register</a>

      <ul class="social social--list">
        <li class="social__item ">
          <a class="social-icons__link" rel="noopener noreferrer" target="_blank" href="https://twitter.com/">
            <svg class="social-icons__icon social-icons__icon--first">

      
              <use href="./images/sprite.svg#icon-twitter"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social-icons__link" rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/">
            <svg  class="social-icons__icon">
              <use href="./images/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="social__item">
          <a class="social-icons__link" rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/">
            <svg class="social-icons__icon">
              <use href="./images/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <button class="open" type="button" aria-label="menu" data-menu-modal-open>
      <svg width="30px" height="16px">
        <use href="./images/sprite.svg#icon-menu"></use>
      </svg>
    </button>
  </div>
</header>
