<section class="program" id="program">
  <div class="container program__container" id="program__container">
    <div class="program__description" id="program__description">
      <h2 class="program__title" id="program__title">
        Program
      </h2>
      <p class="program__text program__text--upper" id="program__text--upper">
        Indulge in this immersive sweet treat experience with The Chef Donut
        Queen in her New York donut shop!
      </p>

      <ul class="program-description" id="program-description">
        <li class="program-description__item">
          A stand up history of donuts
        </li>

        <li class="program-description__item">
          Make 3 donut flavors of your choice
        </li>

        <li class="program-description__item">
          Enjoy all-you-can-eat donuts
        </li>

        <li class="program-description__item">
          Cocktail pairings and coffee included
        </li>

        <li class="program-description__item">
          Photoshoot by professional photographer
        </li>

        <li class="program-description__item">
          Secret receipt of cooking from Eva
        </li>
        <li class="program-description__item">
          All products are included in the price
        </li>
      </ul>
      <p class="program__text program__text--below" id="program__text--below">
        Come with your dear people and friends and you will spend an
        unforgettable time and will become a real professional in donuts
        cooking!
      </p>

      <button
        type="button"
        class="program__button"
        id="program__button"
        aria-expanded="false"
        aria-controls="program__text--below"
        aria-label="Read-more"
        data-program__button
      >
        Read more
      </button>
    </div>

    <div class="program__window-case" id="program__window-case">
      <ul class="program-showcase" id="program-showcase">
        <li class="program-showcase__item">
          <div class="program-showcase__card">
            <div class="program-showcase__thumb">
              <picture class="program-showcase__picture">
                <source
                  srcset="
                    ./images/program/desktop/pic1.png    1x,
                    ./images/program/desktop/pic1@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/program/mobile/pic1.png    1x,
                    ./images/program/mobile/pic1@2x.png 2x
                  "
                  media="(max-width: 1199.98px)"
                />

                <img
                  src="./images/program/mobile/pic1.png"
                  alt="donut in chocolate line"
                />
              </picture>
            </div>

            <div class="program-showcase__donut-info">
              <h3 class="program-showcase__donut-title">
                Type of the event
              </h3>
              <span class="program-showcase__donut-text">
                Cooking classes
              </span>
            </div>
            <div class="program-showcase__donut-mark">
              <svg class="program-showcase__donut-icon">
                <use href="./images/sprite.svg#icon-chef-hat"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="program-showcase__item">
          <div class="program-showcase__card">
            <div class="program-showcase__thumb">
              <picture class="program-showcase__picture">
                <source
                  srcset="
                    ./images/program/desktop/pic2.png    1x,
                    ./images/program/desktop/pic2@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/program/mobile/pic2.png    1x,
                    ./images/program/mobile/pic2@2x.png 2x
                  "
                  media="(max-width: 1199.98px)"
                />

                <img
                  src="./images/program/mobile/pic2.png"
                  alt="donut in chocolate crumb"
                />
              </picture>
            </div>
            <div class="program-showcase__donut-info">
              <h3 class="program-showcase__donut-title">
                Number of guests
              </h3>
              <span class="program-showcase__donut-text">
                1 to 20
              </span>
            </div>
            <div class="program-showcase__donut-mark">
              <svg class="program-showcase__donut-icon">
                <use href="./images/sprite.svg#icon-people"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="program-showcase__item">
          <div class="program-showcase__card">
            <div class="program-showcase__thumb">
              <picture class="program-showcase__picture">
                <source
                  srcset="
                    ./images/program/desktop/pic3.png    1x,
                    ./images/program/desktop/pic3@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/program/mobile/pic3.png    1x,
                    ./images/program/mobile/pic3@2x.png 2x
                  "
                  media="(max-width: 1199.98px)"
                />

                <img
                  src="./images/program/mobile/pic3.png"
                  alt="milk donut in chocolate crumb"
                />
              </picture>
            </div>
            <div class="program-showcase__donut-info">
              <h3 class="program-showcase__donut-title">
                Time of the event
              </h3>
              <span class="program-showcase__donut-text">
                18:30 (2.5 hours)
              </span>
            </div>
            <div class="program-showcase__donut-mark">
              <svg class="program-showcase__donut-icon">
                <use href="./images/sprite.svg#icon-clock"></use>
              </svg>
            </div>
          </div>
        </li>

        <li class="program-showcase__item">
          <div class="program-showcase__card">
            <div class="program-showcase__thumb">
              <picture class="program-showcase__picture">
                <source
                  srcset="
                    ./images/program/desktop/pic4.png    1x,
                    ./images/program/desktop/pic4@2x.png 2x
                  "
                  media="(min-width: 1200px)"
                />

                <source
                  srcset="
                    ./images/program/mobile/pic4.png    1x,
                    ./images/program/mobile/pic4@2x.png 2x
                  "
                  media="(max-width: 1199.98px)"
                />

                <img
                  src="./images/program/mobile/pic4.png"
                  alt="donut in chocolate"
                />
              </picture>
            </div>
            <div class="program-showcase__donut-info">
              <h3 class="program-showcase__donut-title">
                The host speaks
              </h3>
              <span class="program-showcase__donut-text">
                English, French
              </span>
            </div>
            <div class="program-showcase__donut-mark">
              <svg class="program-showcase__donut-icon">
                <use href="./images/sprite.svg#icon-chat"></use>
              </svg>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
