<section class="registration" id="register">
  <div class="container">
    <p class="section-title section-title--tablet">Registration</p>
    <div class="registration__frame">
      <h2 class="section-title section-title--mobile">Registration</h2>
      <div class="form-text">
        <div class="registration-text">
          <p class="registration-text__one">May 23, 11:00 New York</p>
          <p class="registration-text__two">$ 699</p>
        </div>

        <form class="registration-form">
          <div>
            <p class="registration-form__join">Apply your personal info for registration</p>

            <input
              class="registration-form__input"
              type="text"
              name="user_name"
              pattern="^[a-zA-Z]+$"
              placeholder="Your name"
              title="fill in this field correctly"
            />
            <input
              class="registration-form__input"
              type="tel"
              name="user_phone"
              pattern="[0-9]{10}"
              placeholder="Phone number"
              title="fill in this field correctly"
            />
            <input
              class="registration-form__input"
              type="email"
              name="user_email"
              placeholder="Email"
              pattern="^[a-zA-Z0-9]\@+$"
              title="fill in this field correctly"
            />
          </div>

          <button class="btn btn--centre" aria-label="register" type="submit">Register</button>
        </form>
      </div>
    </div>
  </div>
</section>
