<section id="reviews">
    <div class="container">
        <h2 class="section-title reviews-title">Reviews</h2>
        <ul class="slider">
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/john.png 1x, ../images/reviews/john@2x.png 2x"
                        media="(min-width: 1200px)"/>
                    <source srcset="../images/reviews/john110.png 1x, ../images/reviews/john110@2x.png 2x"
                        media="(max-width: 1199px)"/>
                    <img class="slider__image" src="../images/reviews/john.png" width="136" alt="girl with glasses" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate1"></use>
                    </svg>
                </div>
                <h3 class="slider__title">John</h3>
            </li>
        
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/will.png 1x, ../images/reviews/will@2x.png 2x"
                        media="(min-width: 1200px)"/>
                    <source srcset="../images/reviews/will110.png 1x, ../images/reviews/will110@2x.png 2x"
                        media="(max-width: 1199px)"/>
                    <img class="slider__image" src="../images/reviews/will.png" width="136" alt="young man" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Will</h3>
            </li>
        
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/elisabeth.png 1x, ../images/reviews/elisabeth@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/elisabeth110.png 1x, ../images/reviews/elisabeth110@2x.png 2x"
                        media="(max-width: 1199px)"/>
                    <img class="slider__image" src="../images/reviews/elisabeth.png" width="136" alt="beautiful girl" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Elisabeth</h3>
            </li>

            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/john.png 1x, ../images/reviews/john@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/john110.png 1x, ../images/reviews/john110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/john.png" width="136" alt="girl with glasses" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate1"></use>
                    </svg>
                </div>
                <h3 class="slider__title">John</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/will.png 1x, ../images/reviews/will@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/will110.png 1x, ../images/reviews/will110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/will.png" width="136" alt="young man" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Will</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/elisabeth.png 1x, ../images/reviews/elisabeth@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/elisabeth110.png 1x, ../images/reviews/elisabeth110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/elisabeth.png" width="136" alt="beautiful girl" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Elisabeth</h3>
            </li>

            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/john.png 1x, ../images/reviews/john@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/john110.png 1x, ../images/reviews/john110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/john.png" width="136" alt="girl with glasses" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate1"></use>
                    </svg>
                </div>
                <h3 class="slider__title">John</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/will.png 1x, ../images/reviews/will@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/will110.png 1x, ../images/reviews/will110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/will.png" width="136" alt="young man" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Will</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/elisabeth.png 1x, ../images/reviews/elisabeth@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/elisabeth110.png 1x, ../images/reviews/elisabeth110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/elisabeth.png" width="136" alt="beautiful girl" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Elisabeth</h3>
            </li>

            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/john.png 1x, ../images/reviews/john@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/john110.png 1x, ../images/reviews/john110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/john.png" width="136" alt="girl with glasses" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate1"></use>
                    </svg>
                </div>
                <h3 class="slider__title">John</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/will.png 1x, ../images/reviews/will@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/will110.png 1x, ../images/reviews/will110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/will.png" width="136" alt="young man" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Will</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/elisabeth.png 1x, ../images/reviews/elisabeth@2x.png 2x"
                        media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/elisabeth110.png 1x, ../images/reviews/elisabeth110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/elisabeth.png" width="136" alt="beautiful girl" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Elisabeth</h3>
            </li>

            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/john.png 1x, ../images/reviews/john@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/john110.png 1x, ../images/reviews/john110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/john.png" width="136" alt="girl with glasses" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate1"></use>
                    </svg>
                </div>
                <h3 class="slider__title">John</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/will.png 1x, ../images/reviews/will@2x.png 2x" media="(min-width: 1200px)" />
                    <source srcset="../images/reviews/will110.png 1x, ../images/reviews/will110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/will.png" width="136" alt="young man" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Will</h3>
            </li>
            
            <li class="slider__item">
                <picture>
                    <source srcset="../images/reviews/elisabeth.png 1x, ../images/reviews/elisabeth@2x.png 2x"
                        media="(min-width: 1200px)"/>
                    <source srcset="../images/reviews/elisabeth110.png 1x, ../images/reviews/elisabeth110@2x.png 2x"
                        media="(max-width: 1199px)" />
                    <img class="slider__image" src="../images/reviews/elisabeth.png" width="136" alt="beautiful girl" />
                </picture>
                <div class="slider__icon">
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                    <svg width=24 height=24>
                        <use href="../images/reviews/rate.svg#icon-rate"></use>
                    </svg>
                </div>
                <h3 class="slider__title">Elisabeth</h3>
            </li>
        </ul>

        <!-- Комментарий -->
        <article>
            <h2 class="visually-hidden">Slider comment</h2>
            <ul class="slider-pev">
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
                <li class="slider-pev__item">
                    <p class="slider-pev__text">Last time I have visited a cooking course by Eva
                        I was impressed with the way she explained everything
                        to people. You can be sure you will manage to cook a delicious dish
                        even if it is your first time in the kitchen!
                        Thank you so much for the masterclass! Looking forward to the next
                        one and highly recommend it to everyone!</p>
                </li>
            </ul>
        </article>
        <div class="pagination"><span class="pagination__border"><span id="cp">1</span>/15</span></div>
    </div>
</section>
